table {
	border: 1px black;
}
.sen {
	text-align:center;
}
.gen {
	text-align:right;
}
tr:nth-child(even){background-color:orange;}
tr:nth-child(odd){background-color:red;}
tr:nth-child(1){background-color: white;}
